---
---

@import 'setup';
@import 'sanitize';
@import 'utils';
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i|Titillium+Web:400,400i,700,700i');

$serif: 'Merriweather', serif;
$sans: 'Titillium Web', sans-serif;
$border: 1px solid #ddd;

/* Components */
a,
.link {
    & {
        color: #428bca;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
    &.-nocolor {
        color: inherit;
    }
}
.title,
.button {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    margin: 0;
    font-family: $sans;
}
.button {
    & {    
        padding: 0.35em;
        background-color: #ddd;
        border-radius: 0.15em;
    }
    &:hover {
        color: #fff;
        background-color: #428bca;
        text-decoration: none;
    }    
    &.-coloronhoveronly {
        background-color: transparent;   
    }
    &:hover.-coloronhoveronly {
        color: #333;
        background-color: #ddd;
    }
}
.title.-article {
    display: block;
    margin: 0.5em 0;
}

.questions-list {
    .question-item > .date,
    .question-item > .title {
        display: block;
        font-weight: 300;
        font-family:  $sans;
    }
    .question-item > .title {

    }
}

/* Layout */
.site-header-wrap {
    width: 100%;
    padding: 1em 0;
}
.site-header {
    & {
        @include cf();
        width: 100%;
        max-width: 40em;
        margin: 0 auto;
        padding: 0 1em; 
        text-align: center;
    }
    > .site-navigation {
        margin-top: 0.5em;
    }
    @include media-up( m( $breakpoints, 'landscape_mobile' ) ) {
        > .title {
            float: left;
        }
        > .site-navigation {
            float: right;
            margin-top: 0em;
        }
    }
}
.article-box {
    & {
        max-width: 40em;
        margin: 0 auto;
        padding: 0 1em;
    }
}
.site-footer-wrap {
    width: 100%;
}
.site-footer {
    width: 100%;
    max-width: 40em;
    margin: 0 auto;
    padding: 0 1em;
}

/* Appearance */
body {
    font: 300 16px/1.5 $serif;
}

.site-header-wrap {
    border-bottom: $border;
}
.site-header {
    > .title > .link,
    > .site-navigation > .button {
        text-transform: uppercase;
    }
    > .title {
        font-size: 1.5em;
    }
}

.site-footer-wrap {
    border-top: $border;
}
