{% assign start_year = '2017' %}
{% assign current_year = {{site.time | date: '%Y'}} %}
        
        </main> <!-- .site-content -->
        <footer class="site-footer">
            <span class="copyright">
                &copy;
                {% if current_year != start_year %}
                    {{ start_year }} - {{ current_year }}
                {% else %}
                    {{ start_year }}
                {% endif %}
            </span>
            {% if page.title != 'About' %}
                <a class="link" href="{{ site.url }}/about/">About this site</a>
            {% endif %}
        </footer>
    </div> <!-- .site-container -->
</body>
</html>
