<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header class="header-box">
            <div class="header-inner">
                <h1 class="site-name"><a class="link" href="/">Rico Mossesgeld</a></h1>
                <nav class="site-navigation">
                    <a class="link" href="/questions">Questions</a>
                    <a class="link" href="/cv">CV</a>
                    <a class="link" href="/contact">Contact</a>
                </nav>
            <div>
        </header>
