<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/{{ page.layout }}.css" />
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-3039233-2', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="/js/{{ page.layout }}.js"></script>
</head>
<body>
    <div class="site-container">
        <header class="site-header">
            <h1 class="title"><a class="link" href="{{ site.url }}">Rico Mossesgeld</a></h1>
            <div class="site-menu">
                <ul class="item-list">
                    <li class="menu-item"><a class="link" href="/blog/">Q & A</a></li>
                    <li class="menu-item"><a class="link" href="{{ site.url }}/cv/">CV</a></li>                    
                </ul>
                <ul class="item-list">
                    <li class="menu-item"><a class="link" href="mailto:rico@mossesgeld.com">rico@mossesgeld.com</a></li>
                </ul>
                <ul class="item-list">
                    <li class="menu-item"><a class="link" href="{{ site.url }}/about/">About This Site</a></li>
                </ul>                
            </div>
            <button class="header-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </header>
        <main class="site-content">
