.article-box {
    & {
        width: 100%;
    }
    > .article-inner > .article-innermost > img {
        max-width: 100%;
        height: auto;
        margin-right: 0em;
    }
    > .article-inner {
        margin: 0 auto;
        padding: 1em;
        width: 100%;
        max-width: $max_width;
    }
    > .article-inner {
        .heading, h1, h2, h3, h4, h5, h6 {
            font-weight: 400;
            line-height: 1.1;
        }
    }

    > .article-inner > .article-innermost > *.-box {
        padding: 1rem;
        font-size: 0.85rem;
        color: #8f98a0;
        background-color: rgba(0,0,0,0.5);
    }

    @include media-up( 'tablet' ) {
        > .article-inner {
            @include cf();
        }
        > .article-inner > .article-innermost {
            float: left;
            width: 100%;
            margin-right: -19.75rem;
        }
        > .article-inner > .article-innermost > * {
            margin-right: 19.75rem;
        }
        > .article-inner > .article-innermost > img {
            max-width: calc( 100% - 19.75rem );
            margin-right: 0;
        }
        > .article-inner > .article-innermost > *.-alignright,
        > .article-inner > .article-innermost > *.-alignleft {
            float: right;
            clear: right;
            margin-top: 0;
            margin-right: 0;
            margin-left: 1rem;
            max-width: 19.75rem;
            max-width: 17.75rem;
        }
        > .article-inner > .article-innermost > *.-alignright + *,
        > .article-inner > .article-innermost > *.-alignleft + * {
            margin-top: -1em;
        }
    }
    @include media-up( 'tablet_landscape' ) {
        > .article-inner > .article-innermost > * {
            margin-left: 11rem;
        }
        > .article-inner > .article-innermost > *.-alignleft {
            float: left;
            clear: left;
            margin-top: 0;
            margin-right: 1rem;
            margin-left: 0;
            max-width: 9rem;
        }
    }
}
