<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
</head>
<body>
<div class="site-header-wrap">    
    <header class="site-header cf">
        <h1 class="title"><a class="link" href="/">Rico Mossesgeld</a></h1>
        <nav class="site-navigation">
            <a class="button -coloronhoveronly" href="/questions">Q & A</a>
            <a class="button -coloronhoveronly" href="/cv">CV</a>
            <a class="button -coloronhoveronly" href="/contact">Contact</a>
        </nav>
    </header>
</div>

<main class="site-content cf">
    <article class="article-box">
    {{ content }}
    </article>
</main>

<div class="site-footer-wrap">
    <footer class="site-footer cf">
        <p class="site-copyright">&copy;2012-{{ site.time | date: '%Y' }}</p>
    </footer>
</div>
        
</body>
